* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: gray;
    color: white;
    width: 100%;
    font-size: 48px;
    text-align: center;
}

/* USER INPUT FORM */
/*  Specificity:
    #submit-button
    #user-inputs
    #user-input-header
    #user-input-section
    .input-field
    .input-span
    input
    button
*/

/*  Structure:
    #user-input-section (yellow)
        #user-input-header
        #user-inputs (red)
            .input-span (blue)
                .input-field (green)
    #submit-button (magenta)
*/

#user-input-section {
    /* border for testing */
    border: 3px solid yellow;
}

#user-input-header {
    border: 2px solid brown;
}

#user-inputs {
    white-space: nowrap;
    height: 50px;
    /* border for testing */
    border: 2px solid red;
}

.input-span {
    /* border for testing */
    border: 1px solid blue;
}

.input-field {
    margin-left: 1%;
    margin-right: 1%;
    width: 16%;
    height: 100%;
    font-size: 100%;
    /* border for testing */
    border: 3px solid green;
}

#submit-button {
    background-color: silver;
    border: 1px solid;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    left: 80%;
    /* border for testing */
    border: 1px solid magenta;
}

/* EMPLOYEE DATA TABLE */
/*  Specificity:
    #monthly-costs-value
    #employee-table-body
    #employee-table-head
    #employee-table
    #employee-data-header
    #employee-data-section
    .over-budget
*/

/*  Structure:
    #employee-data-section (red)
        #employee-data-header
        #employee-table
            #employee-table-head
                <tr>
                    <th>
        #employee-table-body
            .silver-row / .white-row
                .annual-salary-entry
                .delete-button
        #monthly-costs-title
            #monthly-costs-value
            .over-budget
*/

#employee-data-section {
    margin-top: 75px;
    /* border for testing */
    border: 2px solid yellow;
}

#employee-data-header {
    /* border for testing */
    border: 2px solid brown;
}

td, th {
    border: 1px solid black;
    line-height: 40px;
}

#employee-table {
    border-spacing: 0px;
    width: 100%;
    /* border for testing */
    border: 2px solid red;
}

#employee-table-head {
    background-color: gray;
    /* border for testing */
    border: 2px solid green;
}

#first-name-column {
    width: 17%;
}

#last-name-column {
    width: 17%;
}

#id-column {
    width: 11%;
}

#title-column {
    width: 17%;
}

#annual-salary-column {
    width: 17%;
}

#delete-button-column {
    width: 17%;
    background-color: white;
    border: 0px;
    /* border for testing */
    /* border: 1px solid blue; */
}

.delete-button{
    margin: auto;
}

#monthly-costs-title {
    font-size: 22px;
    text-align: right;
}

.over-budget {
    background-color: red;
}

.white-row {
    background-color: white;
}

.silver-row {
    background-color: silver;
}